<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <form method="POST">
    <div class="contact">
        <div class="cont-card" id="contact">
            <h1>Registration Page</h1>
              
              <div class="contt">
                <legend>UserName</legend>
                <input type="text" name="uname" id="uname" placeholder="Enter UserName" required>
                <legend>Email</legend>
                <input type="email" name="mail" id="main" placeholder="Enter ur mail" required >
                <legend>Phone Number</legend>
                <input type="number" name="number" placeholder="Enter phone number" required><br><br>
                <button onclick="myFunction()">Submit it</button>
             
              </div>
        </div>
     </div>
    </form>

<script>
function myFunction() {
  alert("Submitted successfully");
}
</script>
                <!-- </div> -->
        
    
</body>
</html>